/* Reset the default of the browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting the font size for the entire document */
html{
    font-size: 16px;
}

/* Setting the text format for the entire body */
body{
    
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

/* To avoid collision of the header and main's content */
main{
    padding-top: 60px;
}


/* Styles for the navigation/header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;


    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background-color: #FBFBFB;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Styles for the unordered-list */
nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem; 
    margin: 0;
    padding: 0 20px;
}

/* Styles for navigation each link */
nav ul li a {
    color: #2F2F2F; 
    text-decoration: none; 
    font-weight: bold;
    transition: color 0.2s ease; 
}

/* Change link color on hover */
nav ul li a:hover {
    color: #5EF2CE; 
}

/* Style for the logo's container */
.LogoCont {
    display: flex;
    align-items: center;
}

/* Style for the logo's image */
.LogoCont img {
    width: 55px; 
    height: auto; 
}

/* Style for the logo's text */
.LogoCont span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2F2F2F; 
    margin-left: 1px; 
}

/* Hamburger menu icon, currently hidden when Screen size is > 768px*/
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}


.Section-1{
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 100%;
        height: 700px; 
        background: linear-gradient(180deg, rgba(99, 249, 198, 0.70) 0%, rgba(72, 207, 237, 0.70) 100%);
}

.Division1-s1{
    width: 50%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.IntroCont-s1{
    position: relative;

    height: 465px;
    width: 500px;
    padding: 0 20px;
    margin-left: -680px;
    text-align: left;
}

.PicIntro-S1 {
    position: relative;
    width: 300px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    padding: 0 20px;
    margin-left: 1px;
    text-align: right;
}

.PicIntro-S1 img {
    width: 350%; /* Adjust percentage as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 100px;
    border-radius: 1%;
}



/* Setting the Blue-line design positon */

.IntroCont-s1 h1 {

    line-height: 1.4;
    max-width: 400px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #2F2F2F;
    margin-bottom: 10px;
}

.IntroCont-s1 p {
    width: 70%;
    font-size: 1.1rem;
    color: #2F2F2F;
    margin-bottom: 20px;
}



\\\.Section-2{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 700px; 
    background: linear-gradient(180deg, rgba(99, 249, 198, 0.70) 0%, rgba(72, 207, 237, 0.70) 100%);
}

/* Container 1 styles */
.S2-cont1{
    padding: 1px;
    width: 1000px; 
    height: 500px; 
    background: linear-gradient(270deg, #E9E9E9 0%, white 76%); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
    border-radius: 45px;

    display: flex;
}   

/* Sub-container 1 style */
.subCont1-s2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 55%;
}

.paragraph-s2{
    height: 40%;
    width: 70%;

    text-align: justify;
    color: #2F2F2F;
}

.buttonCont-s2{
    margin-top: 30px;
}

/* Button Style */
.button-s2{
    width: 160px; 
    height: 50px; 
    background: linear-gradient(90deg, #48CFED 0%, #5EF2CE 81%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 40px;

    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer; 
    transition: all 0.2s ease; 
}

/* Button effect when hovered */
.button-s2:hover{
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background: linear-gradient(90deg, rgba(84.57, 51, 255, 0.70) 0%, rgba(152.33, 1.85, 222.06, 0.70) 81%);
  }

  /* Sub-container 2 style */
.subCont2-s2{
    display: flex;
    position: relative;
    height: 100%;
    width: 45%;
}

.subCont2-s2 h1{
    font-size: 42px;
    font-weight: bold;
    color: #2F2F2F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: absolute;
    top: 400px;
    left: 65px;
}

.subCont2-s2 img{
    position: absolute;
    top: 50px;
    right: 90px;
}


/* Section 3 - Styles */

.Section-3{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 700px; 
    background: linear-gradient(270deg, #EEEEEE 0%, #F8F8F8 100%);
}

/* Conatainer 1 styles */
.S3-cont1{
    width: 1000px; 
    height: 500px; 
    background: white; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
    border-radius: 40px;
    
    display: flex;
}

/* Sub-container 1 style */
.subCont1-s3{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 50%;
}

/* About Us Oveview - Logo Size*/
.subCont1-s3 img{
    width: 350px;
    height: 350px;
}

/* Sub-container 2 style */
.subCont2-s3{
    height: 100%;
    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    right: 40px;
}

.subCont2-s3 h1{
    font-size: 42px;
    font-weight: bold;
    color: #2F2F2F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: absolute;
    top: 50px;
}

.paragraph-s3{
    height: 210px;
    width: 380px;

    text-align: justify;
    color: #2F2F2F;

    position: absolute;
    top: 135px;
}

/* Button container style */
.buttonCont-s3{
    position: absolute;
    top: 385px;
}

/* Button/Link style */
.button-s3{
    width: 160px; 
    height: 50px; 
    background: linear-gradient(90deg, #48CFED 0%, #5EF2CE 81%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 40px;

    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer; 
    transition: all 0.2s ease; 
}

/* Button transition effect when hovered */
.button-s3:hover{
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background: linear-gradient(90deg, rgba(84.57, 51, 255, 0.70) 0%, rgba(152.33, 1.85, 222.06, 0.70) 81%);
  }


/* Footer Styles */

footer{
    background-color: #f4f4f4;
    padding-top: 5px;

}

.footerContainer{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footerContent{
    width:33.3%;
}

h3{
    font-size: 18px;
    margin-bottom: 3px;
    text-align: center;
}

.footerContent p{
    font-size: 14px;
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footerContent ul{
    padding: 0;
    margin: 0;
    text-align: center;
}

.list{
    padding: 0px;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 5px;
    margin: 0;
    position: relative;
}

.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #50DDE1;
    transition-duration: .5s;
}

.list li:hover::before{
    width: 70px;
}

.socialIcons {
    text-align: center;
    padding: 0px;
}

.socialIcons li{
    display: inline-block;
    text-align: center;
    padding: 3px;
}

.socialIcons i{
    color: white;
    font-size: 25px;
}

.list li a{
    color: #2F2F2F;
    text-decoration: none;
}

.list a:hover{
    color: #50DDE1;
}

.bottomBar{
    background: #ddd;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

.bottomBar p{
    color: #343434;
    margin: 0;
    font-size: 10px;
    padding: 7px;
}




/* Responsive navigation/header style */
@media (max-width: 768px) {
    nav {
        display: none; /* Hides the nav when screen width > 768px */
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #FBFBFB;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* Show the nav when active */
    nav.active {
        display: block; 
    }

    /* Stack items vertically */
    nav ul {
        flex-direction: column; 
        gap: 1.5rem;
        padding: 20px;
    }

    /* Align text to center */
    nav ul li{
        text-align: center;
    }

    /* Show the hamburger icon */
    .hamburger {
        display: block; 
    }

    /* Footer Responsiveness */
    .footerContainer{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 500px) {

    /* SECTION 1 - Adjusting the sizes and unsetting/hiding other properties */

    .Section-1{    
        max-width: 400px;
        max-height: 400px;
    }

    .Division1-s1{
        width: unset;
        height: unset;
    
        display: unset;
        justify-content: unset;
        align-items: unset;
    }

    .IntroCont-s1{
        top: 0;
        height: 400px;
        width: 100%;
        padding: 0;
        margin-left: 0;
    }

    .IntroCont-s1 h1{
        margin-top: 20px;
        padding: 40px 30px 20px;
        font-size: 40px;
        line-height: 1.4;
        color: #2f2f2f;
    }

    .Design-Line{
        left: 85px;
        top: 145px;
        width: 63%;
        height: auto;
    }

    .IntroCont-s1 p{
        width: 96%;
        margin-bottom: 10px;
        padding: 0px 30px;
        font-size: 16px;

        position: relative;
        bottom: 30px;
    }

    .social-icons {
        width: 100%;
        padding: 0 30px;
        display: flex;
        gap: 15px; 
    
        position: relative;
        bottom: 30px;
    }
    
    .social-icons span {
        font-size: 16px;
        font-weight: 500;
        color: #828282;
        margin-right: 5px; 
    }
    
    .social-icons img {
        width: 20px; 
        height: auto;
    }

    .Division2-s1{
        display: none;
    }


    /* SECTION 2 - Adjusting the sizes and unsetting/hiding properties */

    .Section-2{
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
    }

    /* Reversing position of the container's contents*/
    .S2-cont1{
        display: flex;
        flex-direction: column-reverse;

        border-radius: 0;
        width: 100%;
        height: 100%;

        box-shadow: none;
    }

    .subCont1-s2{
        width: 100%;
        height: 325px;
    }

    /* Adjusting sizes and setting the text format */
    .paragraph-s2{
        width: 100%;
        height: auto;

        line-height: normal;
        margin-bottom: 30px;
        padding: 0 30px;

        position: relative;
        bottom: 20px;
    }

    .subCont2-s2{
        height: 325px;
        width: 100%;

        justify-content: center;
        align-items: center;
    }

    /* Adjusting the image size */
    .subCont2-s2 img{
        padding: 20px;
        top: 0;
        left: 0;
        width: 250px;
        height: auto;
        position: unset;
        margin-top: 15px;
    }

    /* Changing style for the heading */
    .subCont2-s2 h1{
        text-align: left;
        font-size: 16px;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        padding-left: 20px;

        width: 45%;
        height: 35px;
        border-bottom-right-radius: 100px;
        color: white;
        background: linear-gradient(90deg, rgba(84.57, 51, 255, 0.70) 0%, rgba(152.33, 1.85, 222.06, 0.70) 81%);
        text-shadow: none;
    }

    .buttonCont-s2{
        position: relative;
        bottom: 20px;
        margin: 0;
        
     }
     
     /* Changing color for the button */
     .button-s2{
         width: 150px; 
         height: 40px; 
         background: linear-gradient(90deg, rgba(84.57, 51, 255, 0.70) 0%, rgba(152.33, 1.85, 222.06, 0.70) 81%);
    }

    /* Chaning the button's color when hovered */
    .button-s2:hover{
        background: linear-gradient(90deg, #48CFED 0%, #5EF2CE 81%);
    }
    
    /* SECTOION 3 - Adjusting the sizes and unsetting/hiding properties */

    .Section-3{
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); 
    }

    /* Changing the content's alignment vertically */
    .S3-cont1{
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    /* Changing the background color for the image container */
    .subCont1-s3{
        height: 280px;
        width: 100%;
        background: linear-gradient(180deg, rgba(99, 249, 198, 0.70) 0%, rgba(72, 207, 237, 0.70) 100%);
    }

    /* Styling the logo's image */
    .subCont1-s3 img{
        padding: 10px;
        height: auto;
        width: 60%;
        border-radius: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
        background: linear-gradient(270deg, #E9E9E9 0%, white 76%); 
    }

    /* Style for the paragraph container */
    .subCont2-s3{
        height: 400px; 
        width: 100%; 
        right: 0;
    }

    /* Adjusting sizes and setting the text format */
    .paragraph-s3{
        width: 100%;
        height: auto;
        font-size: 15px;
        top: 0px;
        position: static;

        line-height: normal;
        padding: 0 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .subCont2-s3 h1{
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        top: 0;

        width: 100%;
        height: 35px;
        color: #2F2F2F;
        background: linear-gradient(270deg, #E9E9E9 0%, white 76%); 
        text-shadow: none;
    }

    /* Adjusting button's position and size */
    .buttonCont-s3{
        position: static;
        top: 0;
    }

    .button-s3{
        width: 150px; 
        height: 40px; 
   }
}

